<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>销售进度表|广州住建局</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <p th:insert="frags/Navi::nav"></p>
</div>

<table class="table">
    <thead class="table-dark">
    <tr>
        <th>
            <input  id="checkAll" type="checkbox" />全选
        </th>
        <th>序号</th>
        <th>预售证</th>
        <th>楼层</th>
        <th>类型</th>
        <th>房号</th>
        <th>户型</th>
        <th>套内面积</th>
        <th>面积</th>
        <th>销售状态</th>
        <th>颜色</th>
        <th>颜色代码</th>
        <th>状态</th>
        <th>插入日期</th>
        <th>修改日期</th>
        <th>查封</th>
        <th>抵押</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item,itemStat : ${list}">
        <td>
            <input type="checkbox" th:value="${itemStat.count}" />
        </td>
        <td th:text="${itemStat.count}"></td>
        <td th:text="${item.getPresalePermitNumber()}"></td>
        <td th:text="${item.getFloor()}"></td>
        <td th:text="${item.getCategory()}"></td>
        <td th:text="${item.getRoomNumber()}"></td>
        <td th:text="${item.getDesign()}"></td>
        <td th:text="${item.getInteriorSize()}"></td>
        <td th:text="${item.getFullConstructSize()}"></td>
        <td th:text="${item.getTypes()}"></td>
        <td th:text="${item?.saleStatusEnum?.color}"></td>
        <td th:text="${item?.saleStatusEnum?.hexCode}"></td>
        <td th:text="${item?.saleStatusEnum?.status}"></td>
        <td th:text="${#calendars.format(item.getInsertionDate(),'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#calendars.format(item.getModificationDate(),'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:if="${item.isSealed()}==0?'正常':'查封'"></td>
        <td th:if="${item.isMortgaged()}==0?'未抵押':'在押'"></td>
        <td>
            <a th:href="@{editHouse}" class="bi bi-pencil-square">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </a>
            <a  th:href="@{deleteHouse}" class="link-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
                </svg>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/backToTop.js}"></script>
<script th:src="@{/js/checkAll.js}"></script>
<script type="text/javascript">
    function doCheckAll(){
        //1.获得点击对象(全选的checkbox)的checked属性值
        var flag=$(this).prop("checked");
        //2.让全选对象的状态值影响tbody中checkbox的状态值.
        /*$("#tbodyId input[type=checkbox]")
         .each(function(){
             $(this).prop("checked",flag);
         }); */
        $("#tbodyId input[type=checkbox]")
            .prop("checked",flag);
    }
    function doGetCheckedIds(){
        //1.定义数组用于存储选中的checkbox的值
        var array="";// var array=[];
        //2.迭代所有tbody中checkbox对象并获取选中的值
        $("#tbodyId input[type=checkbox]")
            .each(function(){
                if($(this).prop("checked")){
                    array= array.concat(",",$(this).val().toString())
                }
            });
        //3.返回选中的值.
        return "exportIds="+array.substr(1,array.length);
    }
</script>
</body>
</html>